@import "tailwindcss";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    background-color: black;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;
    font-size: 17px;
    font-weight: 700;
    font-family: monospace;
}

.nav1 img {
    height: 45px;
    border-radius: 50%;
}

.nav1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.nav2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.nav2 img {
    height: 45px;
    border-radius: 50%;
}