@import "tailwindcss";

@font-face {
    font-family: neu;
    src: url(./FontsFree-Net-NeueMachina-Ultrabold.ttf);
}
:root{
    --gray:#212121;
    --green:#009660;
    --white:#e9e9e9;
    --black:#0c0c0c;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--black);
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;
    font-size: 17px;
    font-weight: 700;
    font-family: monospace;
    position:fixed;
    width: 100%;
    height: 50px;
    background-color: #0f0f0f;
    border-radius: 20px;
    margin-top: 10px;
    font-family: neu;
}

.nav1 img {
    height: 45px;
    border-radius: 50%;
}

.nav1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.nav2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.nav2 img {
    height: 45px;
    border-radius: 50%;
}
.nav3 {
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.nav3 img {
    height: 45px;
    border-radius: 50%;
}

main{
    padding: 100px;
}
.section1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 25px;
    font-family: Arial, Helvetica, sans-seri;
    gap:80px;
}
.section1 .left{
    width: 51%;
    background-color: gray;
}
.section1 .right{
    width: 48%;
}
.section1 .left h1{
    font-size:35px;
}
.section1 .left .tags{
    display:flex;
    align-items:center;
    gap:10px;
    margin: 10px 0px;
}

 @media(max-width:970px){
  .nav2{
    display: none;
  }
  .nav3{
    display: flex;
  }
 }
